<div class="card-item panel panel-primary">
  <div class="panel-heading">
    <card-header
      [placeholder]="'Todo-list\'s title'"
      [title]="todoList.title"
      (onSetTitle)="setTodoListTitle($event)"
      (onRemove)="onRemoveTodoList.emit(todoList)"></card-header>
  </div>
  <div class="panel-body">
    <div class="text-center clickable">
      <span class="label label-primary"
        [ngClass]="{active: 'all' === currentFilter}"
        (click)="filterTodos('all')">All</span>

      <span class="label label-info"
        [ngClass]="{active: 'active' === currentFilter}"
        (click)="filterTodos('active')">Active</span>

      <span class="label label-success"
        [ngClass]="{active: 'completed' === currentFilter}"
        (click)="filterTodos('completed')">Completed</span>
    </div>

    <ul class="list-group">
      <todo-item
        *ngFor="let todo of filteredTodos"
        [todo]=todo
        (onToggleTodo)="toggleTodo($event)"
        (onUpdateTodo)="updateTodo($event)"
        (onRemoveTodo)="removeTodo($event)"></todo-item>
    </ul>

    <todo-input (onAddTodo)="addTodo($event)"></todo-input>
  </div>
</div>

