<div class="panel panel-info">
  <div class="panel-heading">
    <card-header
      [placeholder]="'Card\'s title'"
      [title]="card.title"
      (onSetTitle)="setCardTitle($event)"
      (onRemove)="onRemoveCard.emit(card)"></card-header>
  </div>
  <div class="panel-body">
    <todo-list
      class="col-md-4"
      *ngFor="let todoList of card.todoLists"
      [todoList]="todoList"
      (onRemoveTodoList)="removeTodoList($event)"
      (onSetTodoListTitle)="setTodoListTitle($event)">
    </todo-list>

    <!-- FIXME remove hardcode -->
    <add-todo-list-btn
      *ngIf="card.todoLists.length < 3"
      (onAddTodoList)="addTodoList()">
    </add-todo-list-btn>
  </div>
</div>