<form (ngSubmit)="login()">
  <h2>Please sign in</h2>

  <div *ngIf="hasError" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Sign in failed!</strong> Wrong login or password
  </div>

  <div class="form-group">
    <input
      [(ngModel)]="user.login"
      type="text"
      name="login"
      class="form-control"
      placeholder="Login"
      required
      autofocus
      tabindex="1"
    />
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" (click)="showPassword=!showPassword">
          <i *ngIf="!showPassword" class="glyphicon glyphicon-eye-close"></i>
          <i *ngIf="showPassword" class="glyphicon glyphicon-eye-open"></i>
        </button>
      </span>
      <input
        [(ngModel)]="user.password"
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        placeholder="Password"
        class="form-control"
        required
        tabindex="2"
      />
    </div>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" tabindex="3">
    Sign in
  </button>
</form>