
.nav-right {
  margin-top: 20px;
  float: right;
}

.nav-right a, .nav-right .separator {
  color: #ffffff;
  font-size: 1.5em;
}

.nav-right .active {
  text-decoration: underline;
}

.separator:after {
  content: ' | ';
}