<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand">
        <img alt="angular2-logo" src="/assets/logo-nav.png">
      </a>
    </div>

    <div class="nav-right">

      <span>
        <a class="home-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
        <i class="separator"></i>
      </span>

      <span *ngIf="auth.isLoggedIn">
        <a class="board-link" routerLink="/board" routerLinkActive="active">Board</a>
        <i class="separator"></i>
      </span>

       <span *ngIf="auth.isLoggedIn">
        <a class="signout-link" href="#" (click)="signout($event)">Sign out</a>
      </span>

      <span *ngIf="!auth.isLoggedIn">
        <a class="signin-link" routerLink="/signin" routerLinkActive="active">Sign In</a>
      </span>

    </div>

  </div>
</nav>