li {
  padding: .5em;
  margin: 1em;
  font-size: 1.2em;
  border: none;
}

.completed {
  text-decoration: line-through;
}

.close {
  font-size: 1.5em;
  color: #ff0000;
}

.edit-todo {
  width: 70%;
  display: inline-block;
}