li {
  border: 1px solid #bce8f1;
  padding: 3px;
  margin: 3px;
}

input[type="checkbox"] {
  margin-left: 0;
}

.list-group-item.active {
  background-color: #ffffff;
  color: #000000;
}

.completed {
  text-decoration: line-through;
  background-color: #dff0d8;
  border-color: #d0e9c6;
}

.close {
  font-size: 30px;
  color: #ff0000;
}